body {
  //Update with chosen google font and font-weight
  // font-family: "Lato", sans-serif;
  // font-weight: 400;
  font-size: $default-font-size; //defined in variables, set up here for inheritance
  line-height: 1.7; /*this means 1.7 times the current line height*/
  color: $color-grey-dark;
  padding: 3rem;
}
